#gallery {
    display:none;
}

#save {
    position:relative;
    display:none;
    top: -3px;
}

#genre-span {
    margin-left:20px;
}

#choose-random {
    margin-left:8px;
    margin-top:14px;
}

.chzn-container {
    margin-top:14px;
    padding-top:0px;
    font-size:16px;
    color:#222;
}


#main {
}

.gname {
    text-transform:capitalize;
}

.list-container ul li {
    display: inline;
    margin-right:8px;
}

.list-container {
    margin-left:20px;
}

.adiv {
    width:280px;
    height:294px;
    background-size:100%;
    background-repeat:no-repeat;
    overflow:hidden;
    position:relative;
    background-color: #124;
}

.tadiv {
    width:294px;
    height:294px;
    background-size:100%;
    background-repeat:no-repeat;
    overflow:hidden;
    position:relative;
    background-color: #124;
    display:inline-block;
    padding:10px;
}

#list {
    margin-left:4px;
    text-align:center;
}

.adiv:hover {
    background-color:#4bc313;
}

#info {
    height:24px;
    width:100%;
    text-align:right;
}


.playbutton {
    width:100px;
    position:absolute;
    top:100px;
    left:100px;
    opacity:.8;
}

#the-footer {
    margin-top:30px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    width:400px;
    text-align:center;
}

#search {
    margin-top: 20px;
    margin-bottom: 20px;
}

#all-info {
}

#wiki-div {
    margin-right:20px;
    margin-top:10px;
}
